#logo {
    width: 30%;
    height: 120px;
}

#id1 {
    width: 1000px;
    height: 400px;
    display: inline-block;
    text-align: center;
    font-size: 25px;
    color: brown;
}


#id2 {
    width: 500px;
    height: 400px;
    display: inline-block;

    text-align: center;
    font-size: 25px;
    background-color: wheat;
}

nav{
    background-color:#47bdec;
}
nav a{
    display:inline-block;
    padding:10px;
    font-size:20px;
    color:white;
    text-decoration: crimson;
}
nav a:hover{
    background-color:#333;
}





